/*
cigarette (Marlboro
height: 85mm
width: 8mm
carton
width: 50mm
height: 85mm
depth: 20mm
 */
.container {
  position: relative;
  width: 100vw;
  height: 100vh; }

.background {
  background-color: #99f;
  width: 50vw;
  height: 50vh;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  position: absolute; }

.pack {
  -webkit-transform: translateZ(60px) translate(-50%, -50%);
  transform: translateZ(60px) translate(-50%, -50%);
  left: 50%;
  top: 50%;
  position: absolute; }

.plane {
  width: 500px;
  height: 500px;
  -webkit-transform: translateZ(60px) translate(-50%, -50%) rotateX(-45deg) rotateY(45deg);
  transform: translateZ(60px) translate(-50%, -50%) rotateX(-45deg) rotateY(45deg);
  left: 50%;
  top: 50%;
  -webkit-perspective: 100000000px;
  perspective: 100000000px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective-origin: center;
  perspective-origin: center;
  padding: 10%;
  position: absolute;
  -webkit-animation: 5s dance linear infinite;
  animation: 5s dance linear infinite; }

.plane div {
  -webkit-perspective: 100000000px;
  perspective: 100000000px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.cigarette {
  position: relative;
  display: inline-block;
  width: 40px;
  -webkit-transform-origin: center center 0;
  -ms-transform-origin: center center 0;
  transform-origin: center center 0;
  -webkit-transition-duration: .5s;
  -o-transition-duration: .5s;
  transition-duration: .5s; }

.cigarette:hover {
  -webkit-transform: translateY(-100px);
  -ms-transform: translateY(-100px);
  transform: translateY(-100px); }

.cigarette__side {
  margin: 0;
  padding: 0;
  display: inline-block;
  position: relative;
  width: 7.85398px;
  height: 425px;
  /* transition-duration: .4s;*/
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
  background-image: url("../img/cigarette.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.cigarette__side:after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: '';
  -webkit-transform: translateZ(-1px);
  transform: translateZ(-1px); }

.cigarette__ends {
  position: absolute;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  -webkit-transform-origin: center center 0;
  -ms-transform-origin: center center 0;
  transform-origin: center center 0; }
  .cigarette__ends--bottom {
    background-image: url("https://cloud.graphicleftovers.com/18049/1444641/tobacco-texture-background.jpg");
    background-size: 200px;
    -webkit-transform: translateY(405px) rotateX(-90deg);
    transform: translateY(405px) rotateX(-90deg); }
  .cigarette__ends--top {
    background: -o-radial-gradient(at bottom, #aaa, #fff);
    background: radial-gradient(at bottom, #aaa, #fff);
    -webkit-transform: translateY(-20px) rotateX(-90deg);
    transform: translateY(-20px) rotateX(-90deg); }

.row {
  position: absolute; }
  .row--st {
    -webkit-transform: translateZ(35px);
    transform: translateZ(35px); }
  .row--nd {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px); }
  .row--rd {
    -webkit-transform: translateZ(-35px);
    transform: translateZ(-35px); }

.cigarette__side--n0 {
  background-position: -0px 0; }
  .cigarette__side--n0:after {
    /* background: linear-gradient(90deg, rgba(0,0,0, abs($i / 10 - 0.8)), rgba(0,0,0, abs(($i + 1) / 10 - 0.8)));*/ }

.cigarette__side--n1 {
  background-position: -7.85398px 0; }
  .cigarette__side--n1:after {
    /* background: linear-gradient(90deg, rgba(0,0,0, abs($i / 10 - 0.8)), rgba(0,0,0, abs(($i + 1) / 10 - 0.8)));*/ }

.cigarette__side--n2 {
  background-position: -15.70796px 0; }
  .cigarette__side--n2:after {
    /* background: linear-gradient(90deg, rgba(0,0,0, abs($i / 10 - 0.8)), rgba(0,0,0, abs(($i + 1) / 10 - 0.8)));*/ }

.cigarette__side--n3 {
  background-position: -23.56194px 0; }
  .cigarette__side--n3:after {
    /* background: linear-gradient(90deg, rgba(0,0,0, abs($i / 10 - 0.8)), rgba(0,0,0, abs(($i + 1) / 10 - 0.8)));*/ }

.cigarette__side--n4 {
  background-position: -31.41592px 0; }
  .cigarette__side--n4:after {
    /* background: linear-gradient(90deg, rgba(0,0,0, abs($i / 10 - 0.8)), rgba(0,0,0, abs(($i + 1) / 10 - 0.8)));*/ }

.cigarette__side--n5 {
  background-position: -39.2699px 0; }
  .cigarette__side--n5:after {
    /* background: linear-gradient(90deg, rgba(0,0,0, abs($i / 10 - 0.8)), rgba(0,0,0, abs(($i + 1) / 10 - 0.8)));*/ }

.cigarette__side--n6 {
  background-position: -47.12388px 0; }
  .cigarette__side--n6:after {
    /* background: linear-gradient(90deg, rgba(0,0,0, abs($i / 10 - 0.8)), rgba(0,0,0, abs(($i + 1) / 10 - 0.8)));*/ }

.cigarette__side--n7 {
  background-position: -54.97786px 0; }
  .cigarette__side--n7:after {
    /* background: linear-gradient(90deg, rgba(0,0,0, abs($i / 10 - 0.8)), rgba(0,0,0, abs(($i + 1) / 10 - 0.8)));*/ }

.cigarette__side--n8 {
  background-position: -62.83184px 0; }

.cigarette__side--n9 {
  background-position: -70.68582px 0; }
  .cigarette__side--n9:after {
    /* background: linear-gradient(90deg, rgba(0,0,0, abs(0.9 - ($i / 10))), rgba(0,0,0, abs(0.8 - ($i / 10))));*/ }

.cigarette__side--n10 {
  background-position: -78.5398px 0; }
  .cigarette__side--n10:after {
    /* background: linear-gradient(90deg, rgba(0,0,0, abs(0.9 - ($i / 10))), rgba(0,0,0, abs(0.8 - ($i / 10))));*/ }

.cigarette__side--n11 {
  background-position: -86.39378px 0; }
  .cigarette__side--n11:after {
    /* background: linear-gradient(90deg, rgba(0,0,0, abs(0.9 - ($i / 10))), rgba(0,0,0, abs(0.8 - ($i / 10))));*/ }

.cigarette__side--n12 {
  background-position: -94.24776px 0; }
  .cigarette__side--n12:after {
    /* background: linear-gradient(90deg, rgba(0,0,0, abs(0.9 - ($i / 10))), rgba(0,0,0, abs(0.8 - ($i / 10))));*/ }

.cigarette__side--n13 {
  background-position: -102.10174px 0; }
  .cigarette__side--n13:after {
    /* background: linear-gradient(90deg, rgba(0,0,0, abs(0.9 - ($i / 10))), rgba(0,0,0, abs(0.8 - ($i / 10))));*/ }

.cigarette__side--n14 {
  background-position: -109.95572px 0; }
  .cigarette__side--n14:after {
    /* background: linear-gradient(90deg, rgba(0,0,0, abs(0.9 - ($i / 10))), rgba(0,0,0, abs(0.8 - ($i / 10))));*/ }

.cigarette__side--n15 {
  background-position: -117.8097px 0; }
  .cigarette__side--n15:after {
    /* background: linear-gradient(90deg, rgba(0,0,0, abs(0.9 - ($i / 10))), rgba(0,0,0, abs(0.8 - ($i / 10))));*/ }

.cigarette__side--n0 {
  left: 50%;
  -webkit-transform: translateZ(-20px) translateX(-50%);
  transform: translateZ(-20px) translateX(-50%); }

.cigarette__side > .cigarette__side {
  left: 7.85398px;
  -webkit-transform: rotateY(-22.5deg);
  transform: rotateY(-22.5deg); }

.inside {
  position: relative;
  height: 425px;
  width: 280px; }
  .inside__front {
    bottom: -2px;
    left: -3px;
    position: absolute;
    height: 340px;
    width: 286px;
    -webkit-transform: translateZ(62px);
    transform: translateZ(62px);
    border: 1px solid #aaa;
    border-top: none; }
  .inside__back {
    background-color: #fff;
    bottom: -2px;
    left: -3px;
    position: absolute;
    height: 429px;
    width: 286px;
    background-color: #e6e6e6;
    -webkit-transform: translateZ(-62px);
    transform: translateZ(-62px);
    border: 1px solid #aaa; }
  .inside__left, .inside__right {
    position: absolute;
    height: 429px;
    width: 124px;
    border: 1px solid #aaa; }
  .inside__bottom {
    position: absolute;
    width: 284px;
    height: 120px;
    bottom: -62px;
    left: -2px;
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
    background-color: #d9d9d9;
    border: 1px solid #aaa; }
  .inside__left {
    left: -2px;
    -webkit-transform: translateX(-50%) rotateY(90deg) translateY(-4px);
    transform: translateX(-50%) rotateY(90deg) translateY(-4px);
    background: -webkit-gradient(linear, left top, right top, from(#fff), to(#e6e6e6));
    background: -o-linear-gradient(left, #fff, #e6e6e6);
    background: linear-gradient(90deg, #fff, #e6e6e6); }
  .inside__right {
    right: -4px;
    -webkit-transform: translateX(50%) rotateY(90deg) translateY(-4px);
    transform: translateX(50%) rotateY(90deg) translateY(-4px);
    background: -webkit-gradient(linear, left top, right top, from(#fff), to(#e6e6e6));
    background: -o-linear-gradient(left, #fff, #e6e6e6);
    background: linear-gradient(90deg, #fff, #e6e6e6); }

.front__main {
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff; }

.front__column--left, .front__column--right {
  position: absolute;
  content: '';
  height: 87px;
  width: 10%;
  top: -87px;
  background-color: #fff; }

.front__column--left:after, .front__column--right:after {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px; }

.front__column--left {
  left: 0;
  border-top-right-radius: 10px; }

.front__column--left:after {
  right: -20px;
  bottom: 0;
  background: -o-radial-gradient(at top right, transparent 20px, #fff 20px);
  background: radial-gradient(at top right, transparent 20px, #fff 20px); }

.front__column--right {
  right: 0;
  border-top-left-radius: 10px; }

.front__column--right:after {
  left: -20px;
  bottom: 0;
  background: -o-radial-gradient(at top left, transparent 20px, #fff 20px);
  background: radial-gradient(at top left, transparent 20px, #fff 20px); }

.outside {
  position: relative;
  height: 433px;
  width: 288px; }
  .outside__front {
    bottom: -4px;
    left: -6px;
    position: absolute;
    height: 75%;
    width: 292px;
    -webkit-transform: translateZ(64px);
    transform: translateZ(64px);
    background-color: #fff;
    border: 1px solid #aaa; }
  .outside__back {
    background-color: #fff;
    bottom: -4px;
    left: -6px;
    position: absolute;
    height: 95%;
    width: 292px;
    background-color: #cccccc;
    -webkit-transform: translateZ(-64px);
    transform: translateZ(-64px);
    border: 1px solid #aaa; }
  .outside__left, .outside__right {
    position: absolute;
    height: 75%;
    bottom: -4px;
    width: 128px;
    border: 1px solid #aaa; }
  .outside__bottom {
    position: absolute;
    bottom: 0;
    width: 292px;
    height: 128px;
    bottom: -70px;
    left: -6px;
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
    background-color: #cccccc;
    border: 1px solid #aaa; }
  .outside__left {
    left: -2px;
    -webkit-transform: translateX(-49%) rotateY(90deg) translateZ(-4px);
    transform: translateX(-49%) rotateY(90deg) translateZ(-4px);
    background: -webkit-gradient(linear, left top, right top, from(#fff), to(#cccccc));
    background: -o-linear-gradient(left, #fff, #cccccc);
    background: linear-gradient(90deg, #fff, #cccccc); }
  .outside__left:after {
    position: absolute;
    content: "";
    bottom: 100%;
    left: 1px;
    width: 0px;
    height: 0px;
    border-top: 89px solid transparent;
    border-right: 128px solid #fff; }
  .outside__right {
    right: -4px;
    -webkit-transform: translateX(49%) rotateY(90deg) translateZ(-4px);
    transform: translateX(49%) rotateY(90deg) translateZ(-4px);
    background: -webkit-gradient(linear, left top, right top, from(#fff), to(#cccccc));
    background: -o-linear-gradient(left, #fff, #cccccc);
    background: linear-gradient(90deg, #fff, #cccccc); }
  .outside__right:after {
    position: absolute;
    content: "";
    bottom: 100%;
    right: -1px;
    width: 0px;
    height: 0px;
    border-top: 89px solid transparent;
    border-right: 128px solid #fff; }

.top {
  position: absolute;
  top: 4%;
  width: 288px;
  -webkit-transform: translateZ(-64px);
  transform: translateZ(-64px);
  -webkit-transform-origin: bottom;
  -ms-transform-origin: bottom;
  transform-origin: bottom;
  -webkit-transition-duration: .5s;
  -o-transition-duration: .5s;
  transition-duration: .5s; }
  .top__back {
    position: absolute;
    background-color: #000;
    left: -4px;
    bottom: 0;
    height: 25.5px;
    width: 288px;
    border: 1px solid #aaa; }
  .top__left, .top__right {
    position: absolute;
    background-color: #000;
    bottom: 0;
    height: 25.5px;
    width: 128px; }
  .top__left:after, .top__right:after {
    position: absolute;
    content: "";
    top: 100%;
    right: 0;
    width: 0px;
    height: 0px;
    border-bottom: 85px solid transparent; }
  .top__left {
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
    left: -4px; }
  .top__left:after {
    border-right: 128px solid #000; }
  .top__right {
    -webkit-transform-origin: right;
    -ms-transform-origin: right;
    transform-origin: right;
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
    right: 0; }
  .top__right:after {
    border-left: 128px solid #000; }
  .top__front {
    position: absolute;
    background-color: #000;
    left: -4px;
    top: -25.5px;
    height: 110.5px;
    width: 290px;
    -webkit-transform: translateZ(128px);
    transform: translateZ(128px);
    border: 1px solid #aaa; }
  .top__top {
    position: absolute;
    bottom: 25.5px;
    width: 292px;
    height: 126px;
    left: -6px;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    background-color: #000;
    border: 1px solid #aaa;
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom; }

.plane:hover .top,
.top:hover {
  -webkit-transform: translateZ(-62px) rotateX(140deg);
  transform: translateZ(-62px) rotateX(140deg); }

@-webkit-keyframes rotating {
  0% {
    -webkit-transform: rotateX(45deg) rotateY(0);
    transform: rotateX(45deg) rotateY(0); }
  100% {
    -webkit-transform: rotateX(45deg) rotateY(360deg);
    transform: rotateX(45deg) rotateY(360deg); } }

@keyframes rotating {
  0% {
    -webkit-transform: rotateX(45deg) rotateY(0);
    transform: rotateX(45deg) rotateY(0); }
  100% {
    -webkit-transform: rotateX(45deg) rotateY(360deg);
    transform: rotateX(45deg) rotateY(360deg); } }

@-webkit-keyframes dance {
  0% {
    -webkit-transform: rotate3d(1, 1, 0, 0);
    transform: rotate3d(1, 1, 0, 0); }
  100% {
    -webkit-transform: rotate3d(1, 1, 0, 360deg);
    transform: rotate3d(1, 1, 0, 360deg); } }

@keyframes dance {
  0% {
    -webkit-transform: rotate3d(1, 1, 0, 0);
    transform: rotate3d(1, 1, 0, 0); }
  100% {
    -webkit-transform: rotate3d(1, 1, 0, 360deg);
    transform: rotate3d(1, 1, 0, 360deg); } }

@-webkit-keyframes a-up {
  0% {
    -webkit-transform: translateZ(-60px) translate(-50%, -50%) rotateX(0);
    transform: translateZ(-60px) translate(-50%, -50%) rotateX(0); }
  100% {
    -webkit-transform: translateZ(-60px) translate(-50%, -50%) rotateX(360deg);
    transform: translateZ(-60px) translate(-50%, -50%) rotateX(360deg); } }

@keyframes a-up {
  0% {
    -webkit-transform: translateZ(-60px) translate(-50%, -50%) rotateX(0);
    transform: translateZ(-60px) translate(-50%, -50%) rotateX(0); }
  100% {
    -webkit-transform: translateZ(-60px) translate(-50%, -50%) rotateX(360deg);
    transform: translateZ(-60px) translate(-50%, -50%) rotateX(360deg); } }

@-webkit-keyframes a-down {
  0% {
    -webkit-transform: translateZ(-60px) translate(-50%, -50%) rotateX(0);
    transform: translateZ(-60px) translate(-50%, -50%) rotateX(0); }
  100% {
    -webkit-transform: translateZ(-60px) translate(-50%, -50%) rotateX(-360deg);
    transform: translateZ(-60px) translate(-50%, -50%) rotateX(-360deg); } }

@keyframes a-down {
  0% {
    -webkit-transform: translateZ(-60px) translate(-50%, -50%) rotateX(0);
    transform: translateZ(-60px) translate(-50%, -50%) rotateX(0); }
  100% {
    -webkit-transform: translateZ(-60px) translate(-50%, -50%) rotateX(-360deg);
    transform: translateZ(-60px) translate(-50%, -50%) rotateX(-360deg); } }

@-webkit-keyframes a-left {
  0% {
    -webkit-transform: translateZ(-60px) translate(-50%, -50%) rotateY(0);
    transform: translateZ(-60px) translate(-50%, -50%) rotateY(0); }
  100% {
    -webkit-transform: translateZ(-60px) translate(-50%, -50%) rotateY(360deg);
    transform: translateZ(-60px) translate(-50%, -50%) rotateY(360deg); } }

@keyframes a-left {
  0% {
    -webkit-transform: translateZ(-60px) translate(-50%, -50%) rotateY(0);
    transform: translateZ(-60px) translate(-50%, -50%) rotateY(0); }
  100% {
    -webkit-transform: translateZ(-60px) translate(-50%, -50%) rotateY(360deg);
    transform: translateZ(-60px) translate(-50%, -50%) rotateY(360deg); } }

@-webkit-keyframes a-right {
  0% {
    -webkit-transform: translateZ(-60px) translate(-50%, -50%) rotateY(0);
    transform: translateZ(-60px) translate(-50%, -50%) rotateY(0); }
  100% {
    -webkit-transform: translateZ(-60px) translate(-50%, -50%) rotateY(-360deg);
    transform: translateZ(-60px) translate(-50%, -50%) rotateY(-360deg); } }

@keyframes a-right {
  0% {
    -webkit-transform: translateZ(-60px) translate(-50%, -50%) rotateY(0);
    transform: translateZ(-60px) translate(-50%, -50%) rotateY(0); }
  100% {
    -webkit-transform: translateZ(-60px) translate(-50%, -50%) rotateY(-360deg);
    transform: translateZ(-60px) translate(-50%, -50%) rotateY(-360deg); } }
