* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.controls {
  position: fixed;
  z-index: 99999;
  top: 10px;
  left: 10px; }
  .controls__rotate button {
    padding: 0 0 .2em 0;
    margin: 0;
    font-size: 20px;
    width: 1.5em;
    height: 1.5em;
    line-height: 0; }
  .controls__hide button {
    display: block;
    width: 120px;
    text-align: center; }

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden; }

.background {
  background-color: #ccc;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  position: absolute; }

.pack {
  left: 50%;
  top: 50%;
  margin-left: -140px;
  margin-top: -212.5px;
  position: absolute; }

.plane {
  width: 700px;
  height: 700px;
  -webkit-transform: translateZ(60px) translate(-50%, -50%);
  transform: translateZ(60px) translate(-50%, -50%);
  left: 50%;
  top: 50%;
  -webkit-perspective: 700px;
  perspective: 700px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective-origin: center;
  perspective-origin: center;
  padding: 10%;
  position: absolute;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .plane div {
    -webkit-perspective: 100000000px;
    perspective: 100000000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d; }

.inner {
  width: 700px;
  height: 700px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-perspective: 700px;
  perspective: 700px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective-origin: center;
  perspective-origin: center; }

.row {
  position: absolute; }
  .row--st {
    -webkit-transform: translateZ(35px);
    transform: translateZ(35px); }
  .row--nd {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px); }
  .row--rd {
    -webkit-transform: translateZ(-35px);
    transform: translateZ(-35px); }

.cigarette {
  position: relative;
  display: inline-block;
  width: 40px;
  -webkit-transform-origin: center center 0;
  -ms-transform-origin: center center 0;
  transform-origin: center center 0;
  -webkit-transition-duration: .5s;
  -o-transition-duration: .5s;
  transition-duration: .5s; }
  .cigarette:hover {
    -webkit-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px); }
  .cigarette--hidden .cigarette {
    display: none; }
  .cigarette__side {
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    width: 7.85398px;
    height: 425px;
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    background-image: url("../img/cigarette.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
  .cigarette__side:after {
    position: absolute;
    width: 102%;
    height: 100%;
    top: 0;
    left: -1%;
    content: '';
    -webkit-transform: translateZ(-1px);
    transform: translateZ(-1px); }
  .cigarette__ends {
    position: absolute;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    -webkit-transform-origin: center center 0;
    -ms-transform-origin: center center 0;
    transform-origin: center center 0; }
    .cigarette__ends--bottom {
      background-image: url("https://cloud.graphicleftovers.com/18049/1444641/tobacco-texture-background.jpg");
      background-size: 200px;
      -webkit-transform: translateY(405px) rotateX(-90deg);
      transform: translateY(405px) rotateX(-90deg); }
    .cigarette__ends--top {
      background: -o-radial-gradient(at bottom, #aaa, #fff);
      background: radial-gradient(at bottom, #aaa, #fff);
      -webkit-transform: translateY(-20px) rotateX(-90deg);
      transform: translateY(-20px) rotateX(-90deg); }

.cigarette__side--n0 {
  background-position: -0px 0; }
  .cigarette__side--n0:after {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.7)));
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7));
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)); }

.cigarette__side--n1 {
  background-position: -7.85398px 0; }
  .cigarette__side--n1:after {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.6)));
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6));
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)); }

.cigarette__side--n2 {
  background-position: -15.70796px 0; }
  .cigarette__side--n2:after {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.5)));
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5));
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)); }

.cigarette__side--n3 {
  background-position: -23.56194px 0; }
  .cigarette__side--n3:after {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.4)));
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4));
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)); }

.cigarette__side--n4 {
  background-position: -31.41592px 0; }
  .cigarette__side--n4:after {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.3)));
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3));
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)); }

.cigarette__side--n5 {
  background-position: -39.2699px 0; }
  .cigarette__side--n5:after {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.2)));
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2));
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)); }

.cigarette__side--n6 {
  background-position: -47.12388px 0; }
  .cigarette__side--n6:after {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.1)));
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1));
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)); }

.cigarette__side--n7 {
  background-position: -54.97786px 0; }
  .cigarette__side--n7:after {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.1)), to(transparent));
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0.1), transparent);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.1), transparent); }

.cigarette__side--n8 {
  background-position: -62.83184px 0; }

.cigarette__side--n9 {
  background-position: -70.68582px 0; }
  .cigarette__side--n9:after {
    background: -webkit-gradient(linear, left top, right top, from(transparent), to(rgba(0, 0, 0, 0.1)));
    background: -o-linear-gradient(left, transparent, rgba(0, 0, 0, 0.1));
    background: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.1)); }

.cigarette__side--n10 {
  background-position: -78.5398px 0; }
  .cigarette__side--n10:after {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.2)));
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)); }

.cigarette__side--n11 {
  background-position: -86.39378px 0; }
  .cigarette__side--n11:after {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.3)));
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3));
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)); }

.cigarette__side--n12 {
  background-position: -94.24776px 0; }
  .cigarette__side--n12:after {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.4)));
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4));
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)); }

.cigarette__side--n13 {
  background-position: -102.10174px 0; }
  .cigarette__side--n13:after {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.5)));
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5));
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)); }

.cigarette__side--n14 {
  background-position: -109.95572px 0; }
  .cigarette__side--n14:after {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.6)));
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6));
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)); }

.cigarette__side--n15 {
  background-position: -117.8097px 0; }
  .cigarette__side--n15:after {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.7)));
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7));
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)); }

.cigarette__side--n0 {
  left: 50%;
  -webkit-transform: translateZ(-20px) translateX(-50%);
  transform: translateZ(-20px) translateX(-50%); }

.cigarette__side > .cigarette__side {
  left: 7.85398px;
  -webkit-transform: rotateY(-22.5deg);
  transform: rotateY(-22.5deg); }

.outside__front, .outside__back, .outside__left, .outside__right, .outside__bottom {
  backface-visibility: hidden; }
  .outside__front:before, .outside__back:before, .outside__left:before, .outside__right:before, .outside__bottom:before {
    content: '';
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    top: 0;
    left: 0;
    position: absolute;
    backface-visibility: hidden;
    transform: rotateX(180deg);
    background-color: #fff;
    border: 1px solid #ccc; }

.outside {
  position: relative;
  height: 433px;
  width: 288px; }
  .outside__sign {
    bottom: 10px;
    position: absolute;
    text-transform: uppercase;
    font-size: 18px;
    display: block;
    text-align: center;
    width: 100%;
    letter-spacing: 2px;
    color: #A67444; }
    .outside--hidden .outside__sign {
      display: none; }
  .outside__front {
    bottom: -4px;
    left: -6px;
    position: absolute;
    height: 75%;
    width: 294px;
    -webkit-transform: translateZ(64px);
    transform: translateZ(64px);
    background-image: url("../img/marlboro-logo.png");
    border: 1px solid #aaa;
    background-size: 100% auto;
    background-position-y: -120px;
    background-repeat: no-repeat;
    background-color: #fff; }
    .outside--hidden .outside__front {
      display: none; }
  .outside__back {
    background-color: #fff;
    bottom: -4px;
    left: -6px;
    position: absolute;
    height: 95%;
    width: 294px;
    background-image: url("../img/marlboro-logo.png");
    border: 1px solid #aaa;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #fff;
    -webkit-transform: translateZ(-64px) rotateY(180deg);
    transform: translateZ(-64px) rotateY(180deg);
    border: 1px solid #aaa;
    background-position: 0 -35px; }
    .outside--hidden .outside__back {
      display: none; }
  .outside__left, .outside__right {
    position: absolute;
    height: 75%;
    bottom: -4px;
    width: 128px;
    border: 1px solid #aaa;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(29%, #BA181F), color-stop(29%, #fff));
    background: -o-linear-gradient(#BA181F 29%, #fff 29%);
    background: linear-gradient(#BA181F 29%, #fff 29%); }
    .outside--hidden .outside__left, .outside--hidden .outside__right {
      display: none; }
  .outside__bottom {
    position: absolute;
    width: 294px;
    height: 128px;
    bottom: -68px;
    left: -6px;
    -webkit-transform: rotateX(90deg) rotateY(180deg) rotateZ(180deg);
    transform: rotateX(90deg) rotateY(180deg) rotateZ(180deg);
    background: url(../img/marlboro-logo-bottom.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #fff;
    border: 1px solid #aaa; }
    .outside--hidden .outside__bottom {
      display: none; }
  .outside__left {
    left: -2px;
    -webkit-transform: translateX(-49%) rotateY(-90deg) translateZ(4px);
    transform: translateX(-49%) rotateY(-90deg) translateZ(4px); }
  .outside__triangle {
    position: absolute;
    content: "";
    bottom: 100%;
    left: -1px;
    width: 0px;
    height: 0px;
    border-top: 87px solid transparent; }
    .outside__triangle--left {
      border-left: 128px solid #BA181F; }
      .outside__triangle--left:after {
        content: '';
        position: absolute;
        content: "";
        bottom: 100%;
        right: 0;
        width: 0px;
        height: 0px;
        border-bottom: 87px solid transparent;
        border-left: 128px solid #FFF;
        backface-visibility: hidden;
        transform: rotateX(180deg); }
    .outside__triangle--right {
      border-right: 128px solid #BA181F; }
      .outside__triangle--right:after {
        content: '';
        position: absolute;
        content: "";
        bottom: 100%;
        left: 0;
        width: 0px;
        height: 0px;
        border-bottom: 87px solid transparent;
        border-right: 128px solid #FFF;
        backface-visibility: hidden;
        transform: rotateX(180deg); }
  .outside__right {
    right: -4px;
    -webkit-transform: translateX(49%) rotateY(90deg) translateZ(-4px);
    transform: translateX(49%) rotateY(90deg) translateZ(-4px); }
  .outside__line {
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #BA181F;
    bottom: 10px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden; }

.inside {
  position: relative;
  height: 425px;
  width: 280px; }
  .inside__front {
    bottom: -2px;
    left: -3px;
    position: absolute;
    height: 340px;
    width: 286px;
    -webkit-transform: translateZ(60px);
    transform: translateZ(60px);
    border: 1px solid #aaa;
    border-top: none; }
    .inside--hidden .inside__front {
      display: none; }
  .inside__back {
    background-color: #fff;
    bottom: -2px;
    left: -3px;
    position: absolute;
    height: 429px;
    width: 286px;
    background-color: #e6e6e6;
    -webkit-transform: translateZ(-60px);
    transform: translateZ(-60px);
    border: 1px solid #aaa; }
    .inside--hidden .inside__back {
      display: none; }
  .inside__left, .inside__right {
    position: absolute;
    height: 429px;
    width: 122px;
    border: 1px solid #aaa; }
    .inside--hidden .inside__left, .inside--hidden .inside__right {
      display: none; }
  .inside__bottom {
    position: absolute;
    width: 284px;
    height: 120px;
    bottom: -62px;
    left: -2px;
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
    background-color: #d9d9d9;
    border: 1px solid #aaa; }
    .inside--hidden .inside__bottom {
      display: none; }
  .inside__left {
    left: -2px;
    -webkit-transform: translateX(-50%) rotateY(90deg) translateY(-2px);
    transform: translateX(-50%) rotateY(90deg) translateY(-2px);
    background: -webkit-gradient(linear, left top, right top, from(#fff), to(#e6e6e6));
    background: -o-linear-gradient(left, #fff, #e6e6e6);
    background: linear-gradient(90deg, #fff, #e6e6e6); }
  .inside__right {
    right: -2px;
    -webkit-transform: translateX(50%) rotateY(90deg) translateY(-2px);
    transform: translateX(50%) rotateY(90deg) translateY(-2px);
    background: -webkit-gradient(linear, left top, right top, from(#fff), to(#e6e6e6));
    background: -o-linear-gradient(left, #fff, #e6e6e6);
    background: linear-gradient(90deg, #fff, #e6e6e6); }

.front__main {
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff; }
.front__column--left, .front__column--right {
  position: absolute;
  content: '';
  height: 87px;
  width: 10%;
  top: -87px;
  background-color: #fff; }
.front__column--left:after, .front__column--right:after {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px; }
.front__column--left {
  left: 0;
  border-top-right-radius: 10px; }
.front__column--left:after {
  right: -20px;
  bottom: 0;
  background: -o-radial-gradient(at top right, transparent 20px, #fff 20px);
  background: radial-gradient(at top right, transparent 20px, #fff 20px); }
.front__column--right {
  right: 0;
  border-top-left-radius: 10px; }
.front__column--right:after {
  left: -20px;
  bottom: 0;
  background: -o-radial-gradient(at top left, transparent 20px, #fff 20px);
  background: radial-gradient(at top left, transparent 20px, #fff 20px); }

.top {
  position: absolute;
  top: 4%;
  width: 288px;
  -webkit-transform: translateZ(-64px);
  transform: translateZ(-64px);
  -webkit-transform-origin: bottom;
  -ms-transform-origin: bottom;
  transform-origin: bottom;
  -webkit-transition-duration: .5s;
  -o-transition-duration: .5s;
  transition-duration: .5s; }
  .top--hidden .top {
    display: none; }
  .top__sign {
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 12px;
    position: relative;
    left: 50%;
    top: 50%;
    display: inline-block;
    margin: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden; }
    .top__sign--front {
      background-color: #fff;
      padding: 5px;
      border-radius: 20px;
      color: #BA181F;
      -webkit-transform: translate(-50%, 50%);
      -ms-transform: translate(-50%, 50%);
      transform: translate(-50%, 50%); }
    .top__sign--back {
      color: #fff;
      -webkit-transform: translate(-50%, -50%) rotateY(180deg);
      transform: translate(-50%, -50%) rotateY(180deg); }
  .top__back {
    position: absolute;
    background-color: #BA181F;
    left: -6px;
    bottom: 0;
    height: 25.5px;
    width: 294px;
    border: 1px solid #aaa; }
  .top__left, .top__right {
    position: absolute;
    background-color: #BA181F;
    bottom: 0;
    height: 25.5px;
    width: 128px; }
  .top__left:after, .top__right:after {
    position: absolute;
    content: "";
    top: 100%;
    right: 0;
    width: 0px;
    height: 0px;
    border-bottom: 85px solid transparent; }
  .top__left {
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
    left: -6px; }
  .top__left:after {
    border-right: 128px solid #BA181F; }
  .top__right {
    -webkit-transform-origin: right;
    -ms-transform-origin: right;
    transform-origin: right;
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
    right: 0; }
  .top__right:after {
    border-left: 128px solid #BA181F; }
  .top__front {
    position: absolute;
    background-image: url("../img/marlboro-logo.png");
    background-size: 100% auto;
    left: -6px;
    top: -25.5px;
    height: 110.5px;
    width: 294px;
    -webkit-transform: translateZ(128px);
    transform: translateZ(128px);
    border: 1px solid #aaa; }
  .top__top {
    position: absolute;
    bottom: 25.5px;
    width: 294px;
    height: 128px;
    left: -6px;
    -webkit-transform: rotateX(-90deg) rotateY(180deg);
    transform: rotateX(-90deg) rotateY(180deg);
    background-color: #BA181F;
    background-image: url("../img/marlboro-logo-top.jpg");
    background-size: auto 100%;
    border: 1px solid #aaa;
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom; }
  .top__top:after {
    position: absolute;
    top: 0%;
    left: 0%;
    content: '';
    width: 100%;
    height: 100%;
    -webkit-transform: translateZ(-1px);
    transform: translateZ(-1px);
    background-color: #BA181F; }

.plane:hover .top,
.top:hover {
  -webkit-transform: translateZ(-62px) rotateX(140deg);
  transform: translateZ(-62px) rotateX(140deg); }

/*# sourceMappingURL=style.css.map */
