/*
cigarette (Marlboro
height: 85mm
width: 8mm
carton
width: 50mm
height: 85mm
depth: 20mm
 */

.background {
  background-color: #aaa;
}

.plane {
  width: 1000px;
  height: 1000px;
  -webkit-perspective: 100000000px;
          perspective: 100000000px;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective-origin:  center;
          perspective-origin:  center;
  -webkit-transform: rotateX(45deg);
          transform: rotateX(45deg);
  padding: 10%;
  -webkit-animation: 5s dance linear infinite;
          animation: 5s dance linear infinite;
}

.plane div {
  -webkit-perspective: 100000000px;
          perspective: 100000000px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.cigarette {
  position: relative;
  display: inline-block;
  width: 40px;
  -webkit-transform-origin: center center 0;
      -ms-transform-origin: center center 0;
          transform-origin: center center 0;
  /*animation: 5s rotating linear infinite;*/

  &__side {
	margin: 0;
	padding: 0;
	display: inline-block;
	position: relative;
	width: 7.85398px;
	height: 425px;
	-webkit-transition-duration: .4s;
	     -o-transition-duration: .4s;
	        transition-duration: .4s;
	-webkit-transform-origin: left;
	    -ms-transform-origin: left;
	        transform-origin: left;
	background-image: url("../img/cigarette.jpg");
    background-repeat: no-repeat;
    background-size: cover
  }

  &__side:after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: '';
  }

  &__ends {
    position: absolute;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    -webkit-transform-origin: center center 0;
        -ms-transform-origin: center center 0;
            transform-origin: center center 0;


    &--bottom {
      background-image: url("https://cloud.graphicleftovers.com/18049/1444641/tobacco-texture-background.jpg");
      background-size: 200px;
      -webkit-transform: translateY(405px) rotateX(-90deg);
              transform: translateY(405px) rotateX(-90deg);
    }

    &--top {
      background: -o-radial-gradient(at bottom, #aaa,#fff);
      background: radial-gradient(at bottom, #aaa,#fff);
      -webkit-transform: translateY(-20px) rotateX(-90deg);
              transform: translateY(-20px) rotateX(-90deg);
    }
  }
}

.row {
  position: absolute;

  &--st {
    -webkit-transform: translateZ(35px);
            transform: translateZ(35px);
  }

  &--nd {
    -webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
            transform: translateX(20px);
  }

  &--rd {
    -webkit-transform: translateZ(-35px);
            transform: translateZ(-35px);
  }
}

@for $i from 0 to 16 {
  .cigarette__side--n#{$i} {
	background-position: -#{$i * 7.85398px} 0;

    @if $i < 8 {
      &:after {
        background: -webkit-gradient(linear, left top, right top, from(rgba(0,0,0, abs($i / 10 - 0.8))), to(rgba(0,0,0, abs(($i + 1) / 10 - 0.8))));
        background: -o-linear-gradient(left, rgba(0,0,0, abs($i / 10 - 0.8)), rgba(0,0,0, abs(($i + 1) / 10 - 0.8)));
        background: linear-gradient(90deg, rgba(0,0,0, abs($i / 10 - 0.8)), rgba(0,0,0, abs(($i + 1) / 10 - 0.8)));
      }
    } @else if $i > 8 {
      &:after {
        background: -webkit-gradient(linear, left top, right top, from(rgba(0,0,0, abs(0.9 - ($i / 10)))), to(rgba(0,0,0, abs(0.8 - ($i / 10)))));
        background: -o-linear-gradient(left, rgba(0,0,0, abs(0.9 - ($i / 10))), rgba(0,0,0, abs(0.8 - ($i / 10))));
        background: linear-gradient(90deg, rgba(0,0,0, abs(0.9 - ($i / 10))), rgba(0,0,0, abs(0.8 - ($i / 10))));
      }
    }
  }
}

.cigarette__side--n0 {
  left: 50%;
  -webkit-transform: translateZ(-20px) translateX(-50%);
          transform: translateZ(-20px) translateX(-50%);
}

.cigarette__side > .cigarette__side {
  left: 7.85398px;
  -webkit-transform: rotateY(-22.5deg);
          transform: rotateY(-22.5deg);
}

@-webkit-keyframes rotating {
  0% {
	-webkit-transform: rotateX(45deg) rotateY(0) ;
	        transform: rotateX(45deg) rotateY(0) ;
  }
  100% {
	-webkit-transform: rotateX(45deg) rotateY(360deg) ;
	        transform: rotateX(45deg) rotateY(360deg) ;
  }

}

@keyframes rotating {
  0% {
	-webkit-transform: rotateX(45deg) rotateY(0) ;
	        transform: rotateX(45deg) rotateY(0) ;
  }
  100% {
	-webkit-transform: rotateX(45deg) rotateY(360deg) ;
	        transform: rotateX(45deg) rotateY(360deg) ;
  }

}

@-webkit-keyframes dance {
  0% {
    -webkit-transform: rotate3d(1,1,0,45deg);
            transform: rotate3d(1,1,0,45deg);
  }
  100% {
    -webkit-transform: rotate3d(1,1,0,-45deg);
            transform: rotate3d(1,1,0,-45deg);
  }

}

@keyframes dance {
  0% {
    -webkit-transform: rotate3d(1,1,0,45deg);
            transform: rotate3d(1,1,0,45deg);
  }
  100% {
    -webkit-transform: rotate3d(1,1,0,-45deg);
            transform: rotate3d(1,1,0,-45deg);
  }

}

.pack {
  &__in {
    position: relative;
    height: 425px + 2;
    width: 40px * 7 + 2;

    &--front {
      bottom: 0;
      position: absolute;
      height: 425px + 2;
      width: 40px * 7 + 2;
    }

    &--back {
      background-color: #fff;
      position: absolute;
      height: 425px + 2;
      width: 40px * 7 + 2;
      background-color: #fff;
    }

    &--left,
    &--right {
      position: absolute;
      height: 425px + 2;
      width: 40px * 3;
      background-color: #fff;
    }

    &--bottom {
      position: absolute;
      width: 40px * 7 + 2;
      height: 40px * 3;
      bottom: -60px;
      -webkit-transform: rotateX(90deg);
              transform: rotateX(90deg);
      background-color: #fff;
    }

    &--front {
      -webkit-transform: translateZ(1.5 * 40px);
              transform: translateZ(1.5 * 40px);
    }
    &--back {
      -webkit-transform: translateZ(-1.5 * 40px);
              transform: translateZ(-1.5 * 40px);
    }

    &--left {
      left: -1px;
      -webkit-transform: translateX(-50%) rotateY(90deg);
              transform: translateX(-50%) rotateY(90deg);
    }
    &--right {
      right: -1px;
      -webkit-transform: translateX(50%) rotateY(90deg);
              transform: translateX(50%) rotateY(90deg);
    }
  }
}

.front {

  &__main {
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 80%;
    background-color: #fff;
  }

  &__column--left,
  &__column--right {
    position: absolute;
    content: '';
    height: 20%;
    width: 10%;
    top: 0;
    background-color: #fff
  }

  &__column--left:after, &__column--right:after {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
  }

  &__column--left {
    left: 0;
    border-top-right-radius: 10px
  }

  &__column--left:after {
    right: -20px;
    bottom: 0;
    background: -o-radial-gradient(at top right, transparent 20px, #fff 20px);
    background: radial-gradient(at top right, transparent 20px, #fff 20px);
  }

  &__column--right {
    right: 0;
    border-top-left-radius: 10px
  }

  &__column--right:after {
    left: -20px;
    bottom: 0;
    background: -o-radial-gradient(at top left, transparent 20px, #fff 20px);
    background: radial-gradient(at top left, transparent 20px, #fff 20px);
  }
}