/*
cigarette (Marlboro
height: 85mm
width: 8mm
carton
width: 50mm
height: 85mm
depth: 20mm
 */

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.background {
  background-color: #99f;
  width: 50vw;
  height: 50vh;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  position: absolute;
}

.pack {
  -webkit-transform: translateZ(60px) translate(-50%, -50%);
          transform: translateZ(60px) translate(-50%, -50%);
  left: 50%;
  top: 50%;
  position: absolute;
}

.plane {
  width: 500px;
  height: 500px;
  -webkit-transform: translateZ(60px) translate(-50%, -50%) rotateX(-45deg) rotateY(45deg);
          transform: translateZ(60px) translate(-50%, -50%) rotateX(-45deg) rotateY(45deg);
  left: 50%;
  top: 50%;
  -webkit-perspective: 100000000px;
          perspective: 100000000px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective-origin:  center;
          perspective-origin:  center;
  padding: 10%;
  position: absolute;
  -webkit-animation: 5s dance linear infinite;
          animation: 5s dance linear infinite;

}

.plane div {
  -webkit-perspective: 100000000px;
          perspective: 100000000px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.cigarette {
  position: relative;
  display: inline-block;
  width: 40px;
  -webkit-transform-origin: center center 0;
      -ms-transform-origin: center center 0;
          transform-origin: center center 0;
  -webkit-transition-duration: .5s;
       -o-transition-duration: .5s;
          transition-duration: .5s
}

.cigarette:hover {
  -webkit-transform: translateY(-100px);
      -ms-transform: translateY(-100px);
          transform: translateY(-100px);
}

.cigarette {

  &__side {
	margin: 0;
	padding: 0;
	display: inline-block;
	position: relative;
	width: 7.85398px;
	height: 425px;
	/* transition-duration: .4s;*/
	-webkit-transform-origin: left;
	    -ms-transform-origin: left;
	        transform-origin: left;
	background-image: url("../img/cigarette.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__side:after {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: '';
    -webkit-transform: translateZ(-1px);
            transform: translateZ(-1px);
  }

  &__ends {
    position: absolute;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    -webkit-transform-origin: center center 0;
        -ms-transform-origin: center center 0;
            transform-origin: center center 0;


    &--bottom {
      background-image: url("https://cloud.graphicleftovers.com/18049/1444641/tobacco-texture-background.jpg");
      background-size: 200px;
      -webkit-transform: translateY(405px) rotateX(-90deg);
              transform: translateY(405px) rotateX(-90deg);
    }

    &--top {
      background: -o-radial-gradient(at bottom, #aaa,#fff);
      background: radial-gradient(at bottom, #aaa,#fff);
      -webkit-transform: translateY(-20px) rotateX(-90deg);
              transform: translateY(-20px) rotateX(-90deg);
    }
  }
}

.row {
  position: absolute;

  &--st {
    -webkit-transform: translateZ(35px);
            transform: translateZ(35px);
  }

  &--nd {
    -webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
            transform: translateX(20px);
  }

  &--rd {
    -webkit-transform: translateZ(-35px);
            transform: translateZ(-35px);
  }
}

@for $i from 0 to 16 {
  .cigarette__side--n#{$i} {
	background-position: -#{$i * 7.85398px} 0;

    @if $i < 8 {
      &:after {
        /* background: linear-gradient(90deg, rgba(0,0,0, abs($i / 10 - 0.8)), rgba(0,0,0, abs(($i + 1) / 10 - 0.8)));*/
      }
    } @else if $i > 8 {
      &:after {
        /* background: linear-gradient(90deg, rgba(0,0,0, abs(0.9 - ($i / 10))), rgba(0,0,0, abs(0.8 - ($i / 10))));*/
      }
    }
  }
}

.cigarette__side--n0 {
  left: 50%;
  -webkit-transform: translateZ(-20px) translateX(-50%);
          transform: translateZ(-20px) translateX(-50%);
}

.cigarette__side > .cigarette__side {
  left: 7.85398px;
  -webkit-transform: rotateY(-22.5deg);
          transform: rotateY(-22.5deg);
}

.inside {
  position: relative;
  height: 425px;
  width: 40px * 7;

  &__front {
    bottom: -1 * 2px;
    left: -1.5 * 2px;
    position: absolute;
    height: 425px * 0.8;
    width: 40px * 7 + 3 * 2px;
    -webkit-transform: translateZ(1.5 * 40px + 2px);
            transform: translateZ(1.5 * 40px + 2px);
    border: 1px solid #aaa;
    border-top: none;
  }

  &__back {
    background-color: #fff;
    bottom: -1 * 2px;
    left: -1.5 * 2px;
    position: absolute;
    height: 425px + 2 * 2px;
    width: 40px * 7 + 3 * 2px;
    background-color: darken(#fff, 10%);
    -webkit-transform: translateZ(-1.5 * 40px - 2px);
            transform: translateZ(-1.5 * 40px - 2px);
    border: 1px solid #aaa;
  }

  &__left,
  &__right {
    position: absolute;
    height: 425px + 2 * 2px;
    width: 40px * 3 + 2 * 2px;
    border: 1px solid #aaa;
  }

  &__bottom {
    position: absolute;
    width: 40px * 7 + 2 * 2px;
    height: 40px * 3;
    bottom: -1.5 * 40px - 2px;
    left: -1 * 2px;
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
    background-color: darken(#fff, 15%);
    border: 1px solid #aaa;
  }

  &__left {
    left: -1 * 2px;
    -webkit-transform: translateX(-50%) rotateY(90deg) translateY(-2 * 2px);
            transform: translateX(-50%) rotateY(90deg) translateY(-2 * 2px);
    background: -webkit-gradient(linear, left top, right top, from(#fff), to(darken(#fff, 10%)));
    background: -o-linear-gradient(left, #fff, darken(#fff, 10%));
    background: linear-gradient(90deg, #fff, darken(#fff, 10%));
  }

  &__right {
    right: -2 * 2px;
    -webkit-transform: translateX(50%) rotateY(90deg) translateY(-2 * 2px);
            transform: translateX(50%) rotateY(90deg) translateY(-2 * 2px);
    background: -webkit-gradient(linear, left top, right top, from(#fff), to(darken(#fff, 10%)));
    background: -o-linear-gradient(left, #fff, darken(#fff, 10%));
    background: linear-gradient(90deg, #fff, darken(#fff, 10%));
  }
}


.front {
  &__main {
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
  }

  &__column--left,
  &__column--right {
    position: absolute;
    content: '';
    height: 425px * 0.2 + 2px;
    width: 10%;
    top: -1 * 425px * 0.2 - 2px;
    background-color: #fff
  }

  &__column--left:after, &__column--right:after {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
  }

  &__column--left {
    left: 0;
    border-top-right-radius: 10px
  }

  &__column--left:after {
    right: -20px;
    bottom: 0;
    background: -o-radial-gradient(at top right, transparent 20px, #fff 20px);
    background: radial-gradient(at top right, transparent 20px, #fff 20px);
  }

  &__column--right {
    right: 0;
    border-top-left-radius: 10px
  }

  &__column--right:after {
    left: -20px;
    bottom: 0;
    background: -o-radial-gradient(at top left, transparent 20px, #fff 20px);
    background: radial-gradient(at top left, transparent 20px, #fff 20px);
  }
}

.outside {
  position: relative;
  height: 425px + 2 * 4px;
  width: 40px * 7 + 2 * 4px;

  &__front {
    bottom: -1 * 4px;
    left: -1.5 * 4px;
    position: absolute;
    height: 75%;
    width: (40px * 7) + (3 * 4px);
    -webkit-transform: translateZ(1.5 * 40px + 4px);
            transform: translateZ(1.5 * 40px + 4px);
    background-color: #fff;
    border: 1px solid #aaa;
  }

  &__back {
    background-color: #fff;
    bottom: -1 * 4px;
    left: -1.5 * 4px;
    position: absolute;
    height: 95%;
    width: 40px * 7 + 3 * 4px;
    background-color: darken(#fff, 20%);
    -webkit-transform: translateZ(-1.5 * 40px - 4px);
            transform: translateZ(-1.5 * 40px - 4px);
    border: 1px solid #aaa;
  }

  &__left,
  &__right {
    position: absolute;
    height: 75%;
    bottom: -1 * 4px;
    width: 40px * 3 + 2 * 4px;
    border: 1px solid #aaa;
  }

  &__bottom {
    position: absolute;
    bottom: 0;
    width: 40px * 7 + 3 * 4px;
    height: 40px * 3 + 2 * 4px;
    bottom: (40px * 3 + 3 * 4px) / -2 - 4px;
    left: -1.5 * 4px;
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
    background-color: darken(#fff, 20%);
    border: 1px solid #aaa;
  }

  &__left {
    left: -0.5 * 4px;
    -webkit-transform: translateX(-49%) rotateY(90deg) translateZ(-1 * 4px);
            transform: translateX(-49%) rotateY(90deg) translateZ(-1 * 4px);
    background: -webkit-gradient(linear, left top, right top, from(#fff), to(darken(#fff, 20%)));
    background: -o-linear-gradient(left, #fff, darken(#fff, 20%));
    background: linear-gradient(90deg, #fff, darken(#fff, 20%))
  }

  &__left:after {
    position: absolute;
    content: "";
    bottom: 100%;
    left: 1px;
    width: 0px;
    height: 0px;
    border-top: 425px * .2 + 4px solid transparent;
    border-right: (40px * 3) + 2 * 4px solid #fff;
  }

  &__right {
    right: -1 * 4px;
    -webkit-transform: translateX(49%) rotateY(90deg) translateZ(-1 * 4px);
            transform: translateX(49%) rotateY(90deg) translateZ(-1 * 4px);
    background: -webkit-gradient(linear, left top, right top, from(#fff), to(darken(#fff, 20%)));
    background: -o-linear-gradient(left, #fff, darken(#fff, 20%));
    background: linear-gradient(90deg, #fff, darken(#fff, 20%))
  }

  &__right:after {
    position: absolute;
    content: "";
    bottom: 100%;
    right: -1px;
    width: 0px;
    height: 0px;
    border-top: 425px * .2  + 4px  solid transparent;
    border-right: (40px * 3) + 2 * 4px  solid #fff;
  }
}

.top {
  position: absolute;
  top: 4%;
  width: 40px * 7 + 2 * 4px;
  -webkit-transform: translateZ(-64px);
          transform: translateZ(-64px);
  -webkit-transform-origin: bottom;
      -ms-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transition-duration: .5s;
       -o-transition-duration: .5s;
          transition-duration: .5s;

  &__back {
    position: absolute;
    background-color: #000;
    left: -1 * 4px;
    bottom: 0;
    height: 425px * .06;
    width: 40px * 7 + 2 * 4px;
    border: 1px solid #aaa;
  }

  &__left,
  &__right {
    position: absolute;
    background-color: #000;
    bottom: 0;
    height: 425px * .06;
    width: 40px * 3 + 2 * 4px
  }

  &__left:after, &__right:after {
    position: absolute;
    content: "";
    top: 100%;
    right: 0;
    width: 0px;
    height: 0px;
    border-bottom: 425px * .2 solid transparent;
  }

  &__left {
    -webkit-transform-origin: left;
        -ms-transform-origin: left;
            transform-origin: left;
    -webkit-transform: rotateY(-90deg);
            transform: rotateY(-90deg);
    left: -1 * 4px
  }

  &__left:after {
    border-right: 40px * 3 + 2 * 4px solid #000;
  }

  &__right {
    -webkit-transform-origin: right;
        -ms-transform-origin: right;
            transform-origin: right;
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
    right: 0
  }

  &__right:after {
    border-left: 40px * 3 + 2 * 4px solid #000;
  }

  &__front {
    position: absolute;
    background-color: #000;
    left: -1 * 4px;
    top: -1 * 425px * .06;
    height: 425px * .26;
    width: 40px * 7 + 2.5 * 4px;
    -webkit-transform: translateZ(40px * 3 + 2 * 4px);
            transform: translateZ(40px * 3 + 2 * 4px);
    border: 1px solid #aaa;
  }

  &__top {
    position: absolute;
    bottom: 425px * .06;
    width: 40px * 7 + 3 * 4px;
    height: 40px * 3 + 1.5 * 4px;
    left: -1.5 * 4px;
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
    background-color: #000;
    border: 1px solid #aaa;
    -webkit-transform-origin: bottom;
        -ms-transform-origin: bottom;
            transform-origin: bottom;
  }
}

.plane:hover .top,
.top:hover {
  -webkit-transform:  translateZ(-62px) rotateX(140deg);
          transform:  translateZ(-62px) rotateX(140deg);
}


@-webkit-keyframes rotating {
  0% {
	-webkit-transform: rotateX(45deg) rotateY(0) ;
	        transform: rotateX(45deg) rotateY(0) ;
  }
  100% {
	-webkit-transform: rotateX(45deg) rotateY(360deg) ;
	        transform: rotateX(45deg) rotateY(360deg) ;
  }

}


@keyframes rotating {
  0% {
	-webkit-transform: rotateX(45deg) rotateY(0) ;
	        transform: rotateX(45deg) rotateY(0) ;
  }
  100% {
	-webkit-transform: rotateX(45deg) rotateY(360deg) ;
	        transform: rotateX(45deg) rotateY(360deg) ;
  }

}

@-webkit-keyframes dance {
  0% {
    -webkit-transform: rotate3d(1,1,0,0);
            transform: rotate3d(1,1,0,0);
  }
  100% {
    -webkit-transform: rotate3d(1,1,0,360deg);
            transform: rotate3d(1,1,0,360deg);
  }

}

@keyframes dance {
  0% {
    -webkit-transform: rotate3d(1,1,0,0);
            transform: rotate3d(1,1,0,0);
  }
  100% {
    -webkit-transform: rotate3d(1,1,0,360deg);
            transform: rotate3d(1,1,0,360deg);
  }

}

@-webkit-keyframes a-up {
  0% {
	-webkit-transform: translateZ(-60px) translate(-50%, -50%) rotateX(0);
	        transform: translateZ(-60px) translate(-50%, -50%) rotateX(0);
  }
  100% {
	-webkit-transform: translateZ(-60px) translate(-50%, -50%) rotateX(360deg);
	        transform: translateZ(-60px) translate(-50%, -50%) rotateX(360deg);
  }
}

@keyframes a-up {
  0% {
	-webkit-transform: translateZ(-60px) translate(-50%, -50%) rotateX(0);
	        transform: translateZ(-60px) translate(-50%, -50%) rotateX(0);
  }
  100% {
	-webkit-transform: translateZ(-60px) translate(-50%, -50%) rotateX(360deg);
	        transform: translateZ(-60px) translate(-50%, -50%) rotateX(360deg);
  }
}

@-webkit-keyframes a-down {
  0% {
	-webkit-transform: translateZ(-60px) translate(-50%, -50%) rotateX(0);
	        transform: translateZ(-60px) translate(-50%, -50%) rotateX(0);
  }
  100% {
	-webkit-transform: translateZ(-60px) translate(-50%, -50%) rotateX(-360deg);
	        transform: translateZ(-60px) translate(-50%, -50%) rotateX(-360deg);
  }
}

@keyframes a-down {
  0% {
	-webkit-transform: translateZ(-60px) translate(-50%, -50%) rotateX(0);
	        transform: translateZ(-60px) translate(-50%, -50%) rotateX(0);
  }
  100% {
	-webkit-transform: translateZ(-60px) translate(-50%, -50%) rotateX(-360deg);
	        transform: translateZ(-60px) translate(-50%, -50%) rotateX(-360deg);
  }
}

@-webkit-keyframes a-left {
  0% {
	-webkit-transform: translateZ(-60px) translate(-50%, -50%) rotateY(0);
	        transform: translateZ(-60px) translate(-50%, -50%) rotateY(0);
  }
  100% {
	-webkit-transform: translateZ(-60px) translate(-50%, -50%) rotateY(360deg);
	        transform: translateZ(-60px) translate(-50%, -50%) rotateY(360deg);
  }
}

@keyframes a-left {
  0% {
	-webkit-transform: translateZ(-60px) translate(-50%, -50%) rotateY(0);
	        transform: translateZ(-60px) translate(-50%, -50%) rotateY(0);
  }
  100% {
	-webkit-transform: translateZ(-60px) translate(-50%, -50%) rotateY(360deg);
	        transform: translateZ(-60px) translate(-50%, -50%) rotateY(360deg);
  }
}

@-webkit-keyframes a-right {
  0% {
	  -webkit-transform: translateZ(-60px) translate(-50%, -50%) rotateY(0);
	          transform: translateZ(-60px) translate(-50%, -50%) rotateY(0);
  }
  100% {
  	-webkit-transform: translateZ(-60px) translate(-50%, -50%) rotateY(-360deg);
  	        transform: translateZ(-60px) translate(-50%, -50%) rotateY(-360deg);
  }
}

@keyframes a-right {
  0% {
	  -webkit-transform: translateZ(-60px) translate(-50%, -50%) rotateY(0);
	          transform: translateZ(-60px) translate(-50%, -50%) rotateY(0);
  }
  100% {
  	-webkit-transform: translateZ(-60px) translate(-50%, -50%) rotateY(-360deg);
  	        transform: translateZ(-60px) translate(-50%, -50%) rotateY(-360deg);
  }
}