$cigarette-h: 425px;
$cigarette-w: 40px;
$cigarettes-in-row: 7;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.controls {
  position: fixed;
  z-index: 99999;
  top: 10px;
  left: 10px;

  &__rotate button {
    padding: 0 0 .2em 0;
    margin: 0;
    font-size: 20px;
    width: 1.5em;
    height: 1.5em;
    line-height: 0;
  }
  
  &__hide button {
    display: block;
    width: 120px;
    text-align: center;
  }
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.background {
  background-color: #ccc;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  position: absolute;
}

.pack {
  left: 50%;
  top: 50%;
  margin-left: -($cigarette-w * 3.5);
  margin-top: -($cigarette-h / 2);
  position: absolute;
}

.plane {
  width: 700px;
  height: 700px;
  -webkit-transform: translateZ(60px) translate(-50%, -50%);
          transform: translateZ(60px) translate(-50%, -50%);
  left: 50%;
  top: 50%;
  -webkit-perspective: 700px;
          perspective: 700px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective-origin:  center;
          perspective-origin:  center;
  padding: 10%;
  position: absolute;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  div {
    -webkit-perspective: 100000000px;
    perspective: 100000000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
}

.inner {
  width: 700px;
  height: 700px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-perspective: 700px;
  perspective: 700px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective-origin:  center;
  perspective-origin:  center;
}

.row {
  position: absolute;

  &--st {
    -webkit-transform: translateZ(35px);
            transform: translateZ(35px);
  }

  &--nd {
    -webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
            transform: translateX(20px);
  }

  &--rd {
    -webkit-transform: translateZ(-35px);
            transform: translateZ(-35px);
  }
}

@import "cigarette";
@import "outside";
@import "inside";
@import "front";
@import "top";

.plane:hover .top,
.top:hover {
  -webkit-transform:  translateZ(-62px) rotateX(140deg);
          transform:  translateZ(-62px) rotateX(140deg);
}