:root {
  --c-height: 515px;
  --c-diameter: 25px; }

.plane {
  width: 1000px;
  height: 1000px;
  perspective: 100000000px;
  position: relative;
  background: linear-gradient(black, transparent);
  transform-style: preserve-3d; }

.cigarette {
  position: relative;
  display: inline-block;
  perspective: 1000000px;
  transform-style: preserve-3d;
  top: 25%;
  left: 25%;
  width: var(--c-diameter);
  transform-origin: center center 0;
  animation: 5s rotating linear infinite; }
  .cigarette__side {
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    width: calc(var(--c-diameter / 3.14159265359));
    height: var(--c-width);
    perspective: 100000000px;
    transition-duration: .4s;
    transform-style: preserve-3d;
    transform-origin: left;
    background-image: url("https://www.filterforge.com/filters/6408.jpg"); }
  .cigarette__ends {
    position: absolute;
    border-radius: 50%;
    width: var(--c-width);
    height: var(--c-width);
    transform-origin: center center 0; }
    .cigarette__ends--top {
      background-image: url("https://cloud.graphicleftovers.com/18049/1444641/tobacco-texture-background.jpg");
      background-size: 2.5%;
      transform: translateY(-12.5px) rotateX(-90deg); }
    .cigarette__ends--bottom {
      background-color: #8E6E3D;
      transform: translateY(499px) rotateX(-90deg); }

.cigarette__side--n0 {
  background-position: -0px 0;
  transition-duration: 0s; }

.cigarette__side--n1 {
  background-position: -4.9px 0;
  transition-duration: 0.2s; }

.cigarette__side--n2 {
  background-position: -9.8px 0;
  transition-duration: 0.4s; }

.cigarette__side--n3 {
  background-position: -14.7px 0;
  transition-duration: 0.6s; }

.cigarette__side--n4 {
  background-position: -19.6px 0;
  transition-duration: 0.8s; }

.cigarette__side--n5 {
  background-position: -24.5px 0;
  transition-duration: 1s; }

.cigarette__side--n6 {
  background-position: -29.4px 0;
  transition-duration: 1.2s; }

.cigarette__side--n7 {
  background-position: -34.3px 0;
  transition-duration: 1.4s; }

.cigarette__side--n8 {
  background-position: -39.2px 0;
  transition-duration: 1.6s; }

.cigarette__side--n9 {
  background-position: -44.1px 0;
  transition-duration: 1.8s; }

.cigarette__side--n10 {
  background-position: -49px 0;
  transition-duration: 2s; }

.cigarette__side--n11 {
  background-position: -53.9px 0;
  transition-duration: 2.2s; }

.cigarette__side--n12 {
  background-position: -58.8px 0;
  transition-duration: 2.4s; }

.cigarette__side--n13 {
  background-position: -63.7px 0;
  transition-duration: 2.6s; }

.cigarette__side--n14 {
  background-position: -68.6px 0;
  transition-duration: 2.8s; }

.cigarette__side--n15 {
  background-position: -73.5px 0;
  transition-duration: 3s; }

.cigarette__side--n0 {
  left: 50%;
  transform: translateZ(-12.5px) translateX(-50%); }

.cigarette__side > .cigarette__side {
  left: 4.9px;
  transform: rotateY(-22.5deg); }

@keyframes rotating {
  0% {
    transform: rotateX(45deg) rotateY(0); }
  100% {
    transform: rotateX(45deg) rotateY(360deg); } }

/*# sourceMappingURL=style.css.map */
