/*
cigarette (Marlboro
height: 85mm
width: 8mm
carton
width: 50mm
height: 85mm
depth: 20mm
 */

:root {
  --d-height: 425px;
  --d-diameter: 40px;
  --d-side-width: calc(var(--d-diameter) * 3.14159265359 / 16);
  --d-diff-inside: 2px;
  --d-diff-outside: 4px;
  --c-pack-inside: #fff;
  --c-border-inside: #aaa;
  --c-border-outside: #aaa;
  --c-marlboro-red: #BA181F;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.background {
  background-color: #99f;
  width: 50vw;
  height: 50vh;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  position: absolute;
}

.pack {
  transform: translateZ(60px) translate(-50%, -50%);
  left: 50%;
  top: 50%;
  position: absolute;
}

.plane {
  width: 500px;
  height: 500px;
  transform: translateZ(60px) translate(-50%, -50%) rotateX(-45deg) rotateY(45deg);
  left: 50%;
  top: 50%;
  perspective: 100000000px;
  transform-style: preserve-3d;
  perspective-origin:  center;
  padding: 10%;
  position: absolute;
  animation: 5s dance linear infinite;

}

.plane div {
  perspective: 100000000px;
  transform-style: preserve-3d;
}

.cigarette {
  position: relative;
  display: inline-block;
  width: var(--d-diameter);
  transform-origin: center center 0;
  transition-duration: .5s;

  &:hover {
    transform: translateY(-100px);
  }

  &__side {
	margin: 0;
	padding: 0;
	display: inline-block;
	position: relative;
	width: var(--d-side-width);
	height: var(--d-height);
	// transition-duration: .4s;
	transform-origin: left;
	background-image: url("../img/cigarette.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    &:after {
      position: absolute;
      width: 102%;
      height: 100%;
      top: 0;
      left: -1%;
      content: '';
      transform: translateZ(-1px);
    }
  }

  &__ends {
    position: absolute;
    border-radius: 50%;
    width: var(--d-diameter);
    height: var(--d-diameter);
    transform-origin: center center 0;


    &--bottom {
      background-image: url("https://cloud.graphicleftovers.com/18049/1444641/tobacco-texture-background.jpg");
      background-size: 200px;
      transform: translateY(calc(var(--d-height) + var(--d-diameter) / -2)) rotateX(-90deg);
    }

    &--top {
      background: radial-gradient(at bottom, #aaa,#fff);
      transform: translateY(calc(var(--d-diameter) / -2)) rotateX(-90deg);
    }
  }
}

.row {
  position: absolute;

  &--st {
    transform: translateZ(calc(var(--d-diameter) * 0.875));
  }

  &--nd {
    transform: translateX(calc(var(--d-diameter) * 0.5));
  }

  &--rd {
    transform: translateZ(calc(var(--d-diameter) * -0.875));
  }
}

@for $i from 0 to 16 {
  .cigarette__side--n#{$i} {
	background-position: -#{$i * var(--d-side-width)} 0;

    @if $i < 8 {
      &:after {
         background: linear-gradient(90deg, rgba(0,0,0, abs($i / 10 - 0.8)), rgba(0,0,0, abs(($i + 1) / 10 - 0.8)));
      }
    } @else if $i > 8 {
      &:after {
         background: linear-gradient(90deg, rgba(0,0,0, abs(0.9 - ($i / 10))), rgba(0,0,0, abs(0.8 - ($i / 10))));
      }
    }
  }
}

.cigarette__side--n0 {
  left: 50%;
  transform: translateZ(calc(var(--d-diameter) / -2)) translateX(-50%);
}

.cigarette__side > .cigarette__side {
  left: var(--d-side-width);
  transform: rotateY(-22.5deg);
}

.inside {
  position: relative;
  height: var(--d-height);
  width: var(--d-diameter) * 7;

  &__front {
    bottom: -1 * var(--d-diff-inside);
    left: -1.5 * var(--d-diff-inside);
    position: absolute;
    height: var(--d-height) * 0.8;
    width: var(--d-diameter) * 7 + 3 * var(--d-diff-inside);
    transform: translateZ(1.5 * var(--d-diameter) + var(--d-diff-inside));
    border: 1px solid var(--c-border-inside);
    border-top: none;
  }

  &__back {
    background-color: var(--c-pack-inside);
    bottom: -1 * var(--d-diff-inside);
    left: -1.5 * var(--d-diff-inside);
    position: absolute;
    height: var(--d-height) + 2 * var(--d-diff-inside);
    width: var(--d-diameter) * 7 + 3 * var(--d-diff-inside);
    background-color: darken(var(--c-pack-inside), 10%);
    transform: translateZ(-1.5 * var(--d-diameter) - var(--d-diff-inside));
    border: 1px solid var(--c-border-inside);
  }

  &__left,
  &__right {
    position: absolute;
    height: var(--d-height) + 2 * var(--d-diff-inside);
    width: var(--d-diameter) * 3 + 2 * var(--d-diff-inside);
    border: 1px solid var(--c-border-inside);
  }

  &__bottom {
    position: absolute;
    width: var(--d-diameter) * 7 + 2 * var(--d-diff-inside);
    height: var(--d-diameter) * 3;
    bottom: -1.5 * var(--d-diameter) - var(--d-diff-inside);
    left: -1 * var(--d-diff-inside);
    transform: rotateX(90deg);
    background-color: darken(var(--c-pack-inside), 15%);
    border: 1px solid var(--c-border-inside);
  }

  &__left {
    left: -1 * var(--d-diff-inside);
    transform: translateX(-50%) rotateY(90deg) translateY(-2 * var(--d-diff-inside));
    background: linear-gradient(90deg, var(--c-pack-inside), darken(var(--c-pack-inside), 10%));
  }

  &__right {
    right: -2 * var(--d-diff-inside);
    transform: translateX(50%) rotateY(90deg) translateY(-2 * var(--d-diff-inside));
    background: linear-gradient(90deg, var(--c-pack-inside), darken(var(--c-pack-inside), 10%));
  }
}


.front {
  &__main {
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--c-pack-inside);
  }

  &__column--left,
  &__column--right {
    position: absolute;
    content: '';
    height: var(--d-height) * 0.2 + var(--d-diff-inside);
    width: 10%;
    top: -1 * var(--d-height) * 0.2 - var(--d-diff-inside);
    background-color: var(--c-pack-inside);

    &:after {
      position: absolute;
      content: '';
      width: 20px;
      height: 20px;
    }
  }

  &__column--left {
    left: 0;
    border-top-right-radius: 10px;

    &:after {
      right: -20px;
      bottom: 0;
      background: radial-gradient(at top right, transparent 20px, #fff 20px);
    }
  }

  &__column--right {
    right: 0;
    border-top-left-radius: 10px;

    &:after {
      left: -20px;
      bottom: 0;
      background: radial-gradient(at top left, transparent 20px, #fff 20px);
    }
  }
}

.outside {
  position: relative;
  height: var(--d-height) + 2 * var(--d-diff-outside);
  width: var(--d-diameter) * 7 + 2 * var(--d-diff-outside);

  &__sign {
    bottom: 10px;
    position: absolute;
    text-transform: uppercase;
    font-size: 18px;
    display: block;
    text-align: center;
    width: 100%;
    letter-spacing: 2px;
    color: #A67444;
  }

  &__front {
    bottom: -1 * var(--d-diff-outside);
    left: -1.5 * var(--d-diff-outside);
    position: absolute;
    height: 75%;
    width: (var(--d-diameter) * 7) + (3 * var(--d-diff-outside));
    transform: translateZ(1.5 * var(--d-diameter) + var(--d-diff-outside));
    background-image: url("../img/marlboro-logo.png");
    border: 1px solid var(--c-border-outside);
    background-size: 100% auto;
    background-position-y: -120px;
    background-repeat: no-repeat;
    background-color: #fff;
  }

  &__back {
    background-color: var(--c-pack-inside);
    bottom: -1 * var(--d-diff-outside);
    left: -1.5 * var(--d-diff-outside);
    position: absolute;
    height: 95%;
    width: var(--d-diameter) * 7 + 3 * var(--d-diff-outside);
    background-image: url("../img/marlboro-logo.png");
    border: 1px solid var(--c-border-outside);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #fff;
    transform: translateZ(-1.5 * var(--d-diameter) - var(--d-diff-outside)) rotateY(180deg);
    border: 1px solid var(--c-border-outside);
    background-position: 0 -35px;
  }

  &__left,
  &__right {
    position: absolute;
    height: 75%;
    bottom: -1 * var(--d-diff-outside);
    width: var(--d-diameter) * 3 + 2 * var(--d-diff-outside);
    border: 1px solid var(--c-border-outside);
    background: linear-gradient(#BA181F 29%, #fff 29%);
  }

  &__bottom {
    position: absolute;
    bottom: 0;
    width: var(--d-diameter) * 7 + 3 * var(--d-diff-outside);
    height: var(--d-diameter) * 3 + 2 * var(--d-diff-outside);
    bottom: (var(--d-diameter) * 3 + 3 * var(--d-diff-outside)) / -2 - var(--d-diff-outside);
    left: -1.5 * var(--d-diff-outside);
    transform: rotateX(90deg) rotateY(180deg) rotateZ(180deg);
    background: url(../img/marlboro-logo-bottom.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #fff;
    border: 1px solid #aaa;
  }

  &__left {
    left: -0.5 * var(--d-diff-outside);
    transform: translateX(-49%) rotateY(90deg) translateZ(-1 * var(--d-diff-outside));

    &:after {
      position: absolute;
      content: "";
      bottom: 100%;
      left: 1px;
      width: 0px;
      height: 0px;
      border-top: var(--d-height) * .2 + var(--d-diff-outside) solid transparent;
      border-right: (var(--d-diameter) * 3) + 2 * var(--d-diff-outside) solid var(--c-marlboro-red);
    }
  }

  &__right {
    right: -1 * var(--d-diff-outside);
    transform: translateX(49%) rotateY(90deg) translateZ(-1 * var(--d-diff-outside));

    &:after {
      position: absolute;
      content: "";
      bottom: 100%;
      right: -1px;
      width: 0px;
      height: 0px;
      border-top: var(--d-height) * .2  + var(--d-diff-outside)  solid transparent;
      border-right: (var(--d-diameter) * 3) + 2 * var(--d-diff-outside)  solid var(--c-marlboro-red);
    }
  }

  &__line {
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: var(--c-marlboro-red);
    bottom: 10px;
  }
}

.top {
  position: absolute;
  top: 4%;
  width: var(--d-diameter) * 7 + 2 * var(--d-diff-outside);
  transform: translateZ(-64px);
  transform-origin: bottom;
  transition-duration: .5s;

  &__sign {
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 12px;
    position: relative;
    left: 50%;
    top: 50%;
    display: inline-block;

    &--front {
      background-color: #fff;
      padding: 5px;
      border-radius: 20px;
      color: var(--c-marlboro-red);
      transform: translate(-50%, 50%);
    }

    &--back {
      color: #fff;
      transform: translate(-50%, -50%) rotateY(180deg);
    }
  }

  &__back {
    position: absolute;
    background-color: var(--c-marlboro-red);
    left: -1 * var(--d-diff-outside);
    bottom: 0;
    height: var(--d-height) * .06;
    width: var(--d-diameter) * 7 + 2 * var(--d-diff-outside);
    border: 1px solid var(--c-border-outside);
  }

  &__left,
  &__right {
    position: absolute;
    background-color: var(--c-marlboro-red);
    bottom: 0;
    height: var(--d-height) * .06;
    width: var(--d-diameter) * 3 + 2 * var(--d-diff-outside);

    &:after {
      position: absolute;
      content: "";
      top: 100%;
      right: 0;
      width: 0px;
      height: 0px;
      border-bottom: var(--d-height) * .2 solid transparent;
    }
  }

  &__left {
    transform-origin: left;
    transform: rotateY(-90deg);
    left: -1 * var(--d-diff-outside);

    &:after {
      border-right: var(--d-diameter) * 3 + 2 * var(--d-diff-outside) solid var(--c-marlboro-red);
    }
  }

  &__right {
    transform-origin: right;
    transform: rotateY(90deg);
    right: 0;

    &:after {
      border-left: var(--d-diameter) * 3 + 2 * var(--d-diff-outside) solid var(--c-marlboro-red);
    }
  }

  &__front {
    position: absolute;
    background-image: url("../img/marlboro-logo.png");
    background-size: 100% auto;
    left: -1 * var(--d-diff-outside);
    top: -1 * var(--d-height) * .06;
    height: var(--d-height) * .26;
    width: var(--d-diameter) * 7 + 2.5 * var(--d-diff-outside);
    transform: translateZ(var(--d-diameter) * 3 + 2 * var(--d-diff-outside));
    border: 1px solid var(--c-border-outside);
  }

  &__top {
    position: absolute;
    bottom: var(--d-height) * .06;
    width: var(--d-diameter) * 7 + 3 * var(--d-diff-outside);
    height: var(--d-diameter) * 3 + 1.5 * var(--d-diff-outside);
    left: -1.5 * var(--d-diff-outside);
    transform: rotateX(-90deg) rotateY(180deg);
    background-color: var(--c-marlboro-red);
    background-image: url("../img/marlboro-logo-top.jpg");
    background-size: auto 100%;
    border: 1px solid var(--c-border-outside);
    transform-origin: bottom;

    &:after {
      position: absolute;
      top: 0%;
      left: 0%;
      content: '';
      width: 100%;
      height: 100%;
      transform: translateZ(-1px);
      background-color: var(--c-marlboro-red);
    }
  }
}

.plane:hover .top,
.top:hover {
  transform:  translateZ(-62px) rotateX(140deg);
}


@keyframes rotating {
  0% {
	transform: rotateX(45deg) rotateY(0) ;
  }
  100% {
	transform: rotateX(45deg) rotateY(360deg) ;
  }

}

@keyframes dance {
  0% {
    transform: translateZ(60px) translate(-50%, -50%) rotate3d(1,0,0,-45deg);
  }
  25% {
    transform: translateZ(60px) translate(-50%, -50%) rotate3d(1,0,0,45deg);
  }
  50% {
    transform: translateZ(60px) translate(-50%, -50%) rotate3d(1,1,0,-45deg);
  }
  75% {
    transform: translateZ(60px) translate(-50%, -50%) rotate3d(0,1,0,45deg);
  }
  100% {
    transform: translateZ(60px) translate(-50%, -50%) rotate3d(1,0,0,-45deg);
  }

}