.cigarette
  .cigarette__ends.cigarette__ends--top
  .cigarette__ends.cigarette__ends--bottom
  .cigarette__side.cigarette__side--n0
    .cigarette__side.cigarette__side--n1
      .cigarette__side.cigarette__side--n2
        .cigarette__side.cigarette__side--n3
          .cigarette__side.cigarette__side--n4
            .cigarette__side.cigarette__side--n5
              .cigarette__side.cigarette__side--n6
                .cigarette__side.cigarette__side--n7
                  .cigarette__side.cigarette__side--n8
                    .cigarette__side.cigarette__side--n9
                      .cigarette__side.cigarette__side--n10
                        .cigarette__side.cigarette__side--n11
                          .cigarette__side.cigarette__side--n12
                            .cigarette__side.cigarette__side--n13
                              .cigarette__side.cigarette__side--n14
                                .cigarette__side.cigarette__side--n15