.cigarettes
  .row.row--st
    include cigarette
    include cigarette
    include cigarette
    include cigarette
    include cigarette
    include cigarette
    include cigarette
  .row.row--nd
    include cigarette
    include cigarette
    include cigarette
    include cigarette
    include cigarette
    include cigarette
  .row.row--rd
    include cigarette
    include cigarette
    include cigarette
    include cigarette
    include cigarette
    include cigarette
    include cigarette
