doctype html
html(lang="en")
include head
body
.background
  .plane
    .pack
      .pack__out
        .pack__in
          .pack__in--front.front
            .front__main
            .front__column--left
            .front__column--right
          .pack__in--back
          .pack__in--left
          .pack__in--right
          .pack__in--bottom
          include cigarettes