doctype html
html(lang="en")
include head
body
.container
  .background
    .plane
      .pack
        include top
        .outside
          .outside__front
            p.outside__sign 20 class a cigarettes
            .outside__line
          .outside__back
            p.outside__sign.outside__sign--back 20 class a cigarettes
            .outside__line
          .outside__left
            .outside__line
          .outside__right
            .outside__line
          .outside__bottom
          .inside
            .inside__front.front
              .front__main
              .front__column--left
              .front__column--right
            .inside__back
            .inside__left
            .inside__right
            .inside__bottom
            include cigarettes