doctype html
html(lang="en")
include head
body
.container
  .background
    .plane
      .pack
        .top
          .top__front
          .top__back
          .top__left
          .top__right
          .top__top
        .outside
          .outside__front
          .outside__back
          .outside__left
          .outside__right
          .outside__bottom
          .inside
            .inside__front.front
              .front__main
              .front__column--left
              .front__column--right
            .inside__back
            .inside__left
            .inside__right
            .inside__bottom
            include cigarettes